root = true

[*]
charset = utf-8
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.{bat, cmd, ps1}]
end_of_line = crlf

[*.sh]
end_of_line = lf

[*.java]
ij_java_class_count_to_use_import_on_demand = 999
ij_java_imports_layout = *, $*
ij_java_insert_inner_class_imports = false
ij_java_layout_static_imports_separately = true
ij_java_names_count_to_use_import_on_demand = 999
ij_java_use_single_class_imports = true

[*.html]
max_line_length = 100

[*.{ts, tsx, js, jsx, vue, css, scss, yml}]
indent_size = 2
max_line_length = 100

[{*.har, *.jsb2, *.jsb3, *.json, .babelrc, .eslintrc, .stylelintrc, bowerrc, jest.config}]
indent_size = 2
ij_json_keep_line_breaks = true
ij_json_keep_blank_lines_in_code = 1
ij_json_spaces_within_braces = true
ij_json_spaces_within_brackets = true
ij_json_wrap_long_lines = false

[*.md]
trim_trailing_whitespace = false
